/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/public/uploads/
/var/
/vendor/
/config/jwt/*.pem
/.cursor/
/.opencode/
/openspec/
/%kernel.project_dir%/
/composer.lock
/symfony.lock
/.opencode/
/openspec/
/.cursor/
/composer.override.yaml
/migrations/
